a:link {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

ul {
  margin: 1em;
  font-family: Century Gothic;
  font-size: .76em;
  text-decoration: none;
  list-style-type: none;
  padding: 1.5em;
}

ul a {
  text-align: center;
  display: block;
  width: 300px;
  margin: .5em;
}

section p {
  font-family: Vollkorn;
  font-size: 1.25em;
}

.blogEntry {
  width: 60%;
  height: 800px;
  display: inline-block;
  position: static;
  margin-bottom: 1.5em;
}

.blogTitle {
  text-align: right;
  font-family: Abril Fatface;
  font-size: 4em;
}

.bottomBar {
  position: fixed;
  width: 90%;
  text-align: right;
  font-family: Century Gothic;
  font-size: .75em;
  font-color: black;
  display: block;
}

.entryDate {
  font-family: Vollkorn;
  font-size: 1em;

}

.pageTitle {
  background-color: white;
  padding-top: 1em;
  padding-bottom:1em;
  margin-bottom: 2em;
  margin-left:1em;
  text-align: left;
  display: block;
  position: fixed;
}

.pageTitle p {
  display: inline-block;
  font-size: 2em;
  font-color: gray;
  font-family: Lato;
  font-weight: strong;
}

.navBar {
  width: 100%;
  display: block;
  text-align: center;
  background-color: white;
  border-bottom: white;
  border-top: white;
  margin-top: none;
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
}

.navBar p {
  display: inline;
  font-family: Century Gothic;
  font-size: .8em;
  padding-left: 2.5em;
  padding-right:2.5em;

}

.rightNavi {
  background-color: white;
  display: inline-block;
  width: 20%
  text-decoration: none;
  margin-top: 1em;
  position: fixed;
  float: right;
}

.rntitle {
  text-align: center;
  font-family : Century Gothic;

}
