a:link {
  color: #404040;
  text-decoration: none;
  font-family: Courier;
  font-size: .80em;
}

a:visited {
  color: #404040;
  text-decoration: none;
  font-family: Courier;
  font-size: .80em;
}

a:hover {
  color: #606060;
  text-decoration: none;
  font-family: Courier;
  font-size: .80em;
}

a:active {
  color: #606060;
  text-decoration: none;
  font-family: Courier;
  font-size: .80em;
}

body {
  background-color: black;
}
.navBar {
  background-color: black;
  border-bottom: black;
}

.navBar p {
  color: #404040;
  text-decoration: none;
  font-family: Courier;
  font-size: .80em;
  display: inline-block;
}

.pageTitle {
  font-size: 5em;
  font-family: Futura;
  text-align: right;
  color: #404040;

}

.projects {
  text-align: left;
}
.section {
  font-size: .75em;
  font-family: Futura;
  width: 75%;
}

.sectionTitle {
  font-size: 4em;
  font-family: Futura;
  color: #404040;
}