p {
	font-family: Arial;
  color: #606060;
  font-size: .75em;
  margin-top: .25em;
  margin-bottom: .25em;


}

.basicInfo {
	text-align: center;
	display: block;
}

.companyName {
  font-weight: bold;
  font-size: .9em;
}

header {
	text-align: center;
	display: block;
  background-color: #202020;
  margin-right: auto;
  margin-left: auto;
  z-index: 999;
}

body {
  background-color: #202020;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  column-count:2;
  column-gap:10px;
  position: relative;
}
.sectionBox1 {
  text-align: right;


}

.sectionBox2 {
  text-align: left;


}

.sectionBox3 {
  text-align: right;


}

.sectionBox4 {
  text-align: left;

}

.sectionTitle {
  font-weight: bold;
  font-size: 1.5em;
  font-family: Futura;
}

.myName {
  font-family: Futura;
  text-align: center;
	font-size: 3em;
  color: #606060;
}
